.list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px;
  overflow: auto;
  list-style: none;
}

.empty {
  margin: 0;
  padding: 16px;
  color: var(--dsw-alias-label-tertiary);
  font-size: 13px;
  line-height: 18px;
}

.titleIcon {
  flex: none;
  margin-right: 4px;
}
